/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  font-family: var(--main-font), sans-serif;
  font-variation-settings: "wght" 400;
  background-image: var(--body-background);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header {
  background-color: var(--bg-color);
  border: 2px solid var(--border-color);
  margin: 0 auto;
  margin-top: var(--margin-header);
  margin-bottom: var(--margin-header);
}

.header__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 21px;
  margin-block: 122px 122px;
}

.header__title {
  font-family: var(--accent-font);
  font-size: var(--header-clamp);
  font-weight: var(--font-weight-regular);
}

.header__sub-title {
  font-family: var(--accent-font);
  font-weight: var(--font-weight-regular);
  font-size: var(--header-sub-title-clamp);
  line-height: 100%;
  text-transform: uppercase;
}

.section-article {
  background-color: var(--bg-color);
  border: 2px solid var(--border-color);
  margin: 0 auto;
  margin-bottom: var(--margin-article);
}

.filtered-cold {
  filter: hue-rotate(180deg) saturate(1.5);
}

.filtered-noir {
  filter: grayscale(100%) contrast(150%);
}

.filtered-dreamy {
  filter: blur(2px) brightness(120%);
}

.filtered-cyber {
  filter: invert(100%) hue-rotate(180deg);
}

.filtered-dark {
  filter: brightness(40%) contrast(120%);
}

.filter-sepia {
  filter: sepia(90%) contrast(110%);
}

.filtered-polaroid {
  filter: sepia(30%) saturate(140%) brightness(110%) contrast(110%);
}

.section-article-title {
  font-family: var(--main-font);
  font-variation-settings: "wght" 715;
  font-size: var(--section-article);
  padding: var(--padding-title);
}

.section-article-image {
  position: relative;
  margin-bottom: 30px;
}

.article-image {
  display: block;
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: center;
}

.stroked-text {
  position: absolute;
  top: 28px;
  right: 25px;
  font-family: var(--accent-font);
  font-size: 14px;
  text-transform: uppercase;
  opacity: 50%;
  mix-blend-mode: hard-light;
  text-shadow:
    -1px -1px 0 var(--stroked-text),
    1px -1px 0 var(--stroked-text),
    -1px 1px 0 var(--stroked-text),
    1px 1px 0 var(--stroked-text);
}

@supports (-webkit-text-stroke: 1px var(--stroked-text)) or (text-stroke: 1px var(--stroked-text)) {
  .stroked-text {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--stroked-text);
  }
}

.section-article-text {
  max-width: var(--section-article-text-width);
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 25px;
}

.section-article-paragraf {
  font-family: var(--main-font);
  font-variation-settings: "wght" 410;
  font-size: var(--section-article);
}

.section-article-button {
  display: flex;
  justify-content: flex-end;
  gap: 9px;
  margin-bottom: var(--section-article-image-margin);
  margin-top: var(--section-article-image-margin);
  margin-right: 27px;
}

.card__icon-button {
  outline: none;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: flex;
  padding: 0;
  transition: border-color 0.3s ease;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--text-color);
}

.card__like-button {
  width: 126px;
  text-align: center;
}

.button {
  font-family: var(--accent-font);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-button);
  border: 0;
  line-height: 90%;
  position: relative;
  outline: 2px solid var(--text-color);
  display: inline-block;
  background: var(--bg-color);
  overflow: hidden;
  cursor: pointer;
  isolation: isolate;
  transition: box-shadow 0.3s ease;
}

.button:focus-visible {
  box-shadow: 4px 4px 0px var(--text-color);
}

.button .button__text {
  position: relative;
  z-index: 2;
  color: var(--bg-color);
  mix-blend-mode: difference;
  transition: none;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--border-color);
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
  z-index: -1;
}

.button:hover::before {
  transform: translateX(0);
}

.button-svg-small {
  width: 28px;
  height: 28px;
}

.button-svg-medium {
  width: 39px;
  height: 39px;
}

.button .svg-button {
  position: relative;
  mix-blend-mode: difference;
  color: var(--bg-color);
  transition: filter 0.5s ease;
}

.button-save {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9px;
  margin: 0 auto 100px auto;
  flex-direction: column;
  width: 304px;
  min-height: 83px;
}

dialog {
  outline: 2px solid var(--text-color);
  border: 0;
  padding: 30px 40px;
}

.dialog-btn:hover::before {
  transform: translateX(0);
}

.button__dialog-ok {
  width: 261px;
  min-height: 38px;
  text-transform: uppercase;
}

.dialog__conteiner {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  height: 93%;
  gap: 30px;
}

.dialog-text {
  width: 202px;
  line-height: 150%;
  font-family: var(--accent-font);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-button);
  text-transform: uppercase;
}

.dialog__svg {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

dialog::backdrop {
  background-color: var(--text-color);
  opacity: 75%;
}

@media (width < 375px) {
  .header__title {
    font-size: clamp(45px, calc(-1.254px + 4.601vw), 49px);
  }

  .button__save {
    font-size: 12px;
  }
}

@media (width >=768px) {

  .header,
  .section-article {
    width: var(--widht-desctop);
  }

  .header {
    margin-bottom: 97px;
  }

  .section-article-button {
    margin-bottom: 26px;
    margin-top: 26px;
  }

  .section-article-text {
    max-width: 646px;
    margin-left: 25px;
  }

  .section-article-image {
    margin-bottom: 28px;
  }

  .header__container {
    margin-block: 130px 129px;
  }

  .button-save {
    width: 330px;
    min-height: 53px;
    flex-direction: row;
  }

  .button-svg-small {
    width: 21px;
    height: 21px;
  }

  dialog {
    padding: 30px;
  }

  .button__dialog-ok {
    width: 293px;
  }
}